.navlist {
  // width: 80vw !important;
  // margin: 0 auto !important;
  background-color: rgb(246, 246, 246) !important;
  padding: 0 80px !important;

  li:nth-child(2) {
    margin-right: auto;
  }
}
