.intro-block {

  margin-right: 10px;
 .ant-card-cover{
    height: 180px;
    overflow: hidden;
 }
}

.block-desp {
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;

    p:first-child {
      font-weight: 600;
    }
  }